.abc p{
        font-family:Courier,monospace;
		border-color:#08082b;
		border-width:thick;
		border-style:solid;
		font-size: 40pt;
		}
.efg p{
	   font-family:Tratello, serif;
       color:#08082b;
       font-size:22pt;
        	   
       
          
}